/vendor/
/app/cache/*
/app/logs/*
/app/config/config.yml
/app/config/config-test.yml
/app/config/db.yml
/app/config/db-test.yml
/app/config/*.crt
/app/config/*.key
/app/config/*.p12
/web/bower_components
/web/node_modules
/web/css/dest
/web/js/dest
/web/static
/.idea/
!.gitkeep
.DS_Store