.page-login
    
    .login-form
        width: 500px
        margin: 0 auto
        margin-top: 200px
        position: relative
        
    @media only screen and (max-width: $largestMobileScreen)
        .login-form
            width: auto
            margin: auto
        button
            width: 100%
            display: block