.page-reg
    
    .reg-form
        width: 500px
        margin: 0 auto
        margin-top: 200px
    
    .reg-verified-form
        width: 250px
        margin: 0 auto
        margin-top: 100px
    
    .reg-verified-form.completed
        width: 400px
        
    @media only screen and (max-width: $largestMobileScreen)
        .reg-form, .reg-verified-form
            width: auto
            margin: auto