<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ TITLE }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/page.css">
{% block head %}{% endblock %}
</head>
<body class="page-{{ PAGE_CLASS|default('generic') }}">
{% block body %}{% endblock %}
<script src="/static/lib/lib.js"></script>
<script src="/static/lib/ui.js"></script>
<script src="/static/lib/openvj.js"></script>
{% block footer %}{% endblock %}
</body>
</html>