{% extends "extend.twig" %}
{% set PAGE_CLASS = 'reg' %}
{% block body %}
<div class="reg-form">
    <div class="ui one column grid">
        <div class="column role-target">
            <div class="ui ignored warning message">
                为了防止机器人恶意注册，我们需要验证您的电子邮件。
            </div>
            <form action="/reg" method="POST" accept-charset="utf-8" class="ui form role-reg-form">
                <div class="field">
                    <div class="ui action input">
                        <input type="text" placeholder="Email" name="email" class="role-email">
                        <button class="ui button green role-reg-sendmail" type="submit">发送验证邮件</button>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/x-twig-template" id="template-email-sent">{% verbatim %}
        <div class="ui ignored positive message">
            验证邮件已发送至：{{ email }}&nbsp;&nbsp;<a href="/reg" target="_self">重新填写地址</a>
        </div>
        {% endverbatim %}</script>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>require(['reg']);</script>
{% endblock %}